.forecast-table{

  position: relative;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}
.day{
    font-size: 1.1em;
    font-weight: 600;
    color: grey;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}